*{
    text-decoration:none;
}

.headerItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 8px;
    cursor: pointer;
    text-decoration: none;
}
.headerItem :hover{
    color: rgb(34, 154, 224);
}
.headerItem-title{
    font-size: 12px;
    font-weight: 500;
}
.headerItem-icon{
    object-fit: contain;
    height: 25px !important;
    
    width: 25px !important;
}
@media(max-width:800px){
    .headerItem-title{
        margin-left: 8px;
    }
    .headerItem-icon{
        object-fit: contain;
        height: 35px !important;
       
        width: 35px !important;
    }
}