@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
 
}
.app{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-body{
  display: flex;
  margin-top: 25px;
  max-width: 1260px;
  margin-left: 20px;
  margin-right: 20px;

}
.mobile-nav{
  position: sticky;
  margin-bottom: 10px;
  padding: 10px;
  z-index: 99;
  
}
@media(max-width:800px){
 .app{
   overflow-x: hidden;
   width : 100vw;
  
 }
 .app-body{
   overflow-y: scroll;
   height: 600px;
   margin-top:10px ;
   width: 90%;
margin: auto;

 }

}
